body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #22668D;
    color: #fff;
}

.logo {
    display: inline;
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 5px; /* Add some space between the logo and the header text */
}

h1 {
    font-size: 30px;
}

.menu-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFADD;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.food-name {
    font-size: 24px;
    margin: 0;
}

.food-price {
    font-size: 20px;
    color: #555;
}
